@model IEnumerable<BookingTickets.Models.Event>

    <h2>Events</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Event</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
{
            <tr>
                <td>@e.Title</td>
                <td>@e.Category</td>
                <td>@e.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@e.EventID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@e.EventID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@e.EventID">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
